#table-container {
    border: 2px solid #007bff;
    overflow-y: scroll;
    height: 400px;
}
  
table {
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 400px;
    border-collapse: collapse;
}
  
th {
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
    padding: 15px;
}

td {
    border: 1px solid #dee2e6;
    padding: 15px;
    height: 50px;
    font-size: 18px;
}

tr{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #e2e2e2;
}
  
table th, table td{
    vertical-align: middle;
}