:root {
    --dimension: 100px;
    --light-color: beige;
    --dark-color: darkgray;
}

.row {
    /* border: 1px solid blue; */
    height: var(--dimension);
    width: var(10*--dimension);
    display: flex;
}

.white, .black {
    /* border: 1px solid red; */
    height: var(--dimension);
    width: var(--dimension);
    display: flex;
}

.white {
    background-color: var(--light-color);
}

.black {
    background-color: var(--dark-color);
}

.white:hover, .black:hover {
    background-color: red;
}

img{
    pointer-events: none;
}

.has-piece{
    cursor: pointer;
}

.flip {
    transform: rotate(180deg);
}

.move-log-holder {
    display: flex;
    align-items: start;
}

.tile{
    position: relative;
}

.notation {
    z-index: 1;
    position: absolute;
    font-weight: 600;
}
  
.number {
    top: 3px;
    right: 3px;
}
  
.letter {
    bottom: 3px;
    left: 3px;
}

.light-sq-notation-color {
    color: var(--light-color);
}

.dark-sq-notation-color{ 
    color: var(--dark-color);
}