:root {
    --dimension: 100px;
}

.row {
    /* border: 1px solid blue; */
    height: var(--dimension);
    width: var(10*--dimension);
    display: flex;
}

.white, .black {
    /* border: 1px solid red; */
    height: var(--dimension);
    width: var(--dimension);
    display: flex;
}

.white {
    background-color: beige;
}

.black {
    background-color: darkgray;
}

.white:hover, .black:hover {
    background-color: red;
}

img{
    pointer-events: none;
}

.has-name{
    cursor: pointer;
}