.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
  
.navbar-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
  
.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.navbar-button {
    font-size: 1em;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ffc107;
    color: white;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease-in-out;
}
  
.navbar-button:hover {
    background-color: #333;
    color: #ffc107
}  

.navbar-button svg {
    vertical-align: middle;
}

.navbar-button:focus,
.navbar-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.github-svg {
    fill: white;
    background-color: #ffc107;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}